<h1>Please login!</h1>
<% if flash[:login_error] %>
  <p><%= flash[:login_error] %></p>
<% end %>
<%= form_for :user,url:login_create_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
