<h1>Change your password</h1>

<%= form_for @user, url: user_path , method: :patch do |f| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        Errors!Please try again!
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <h4>Name: <%= @user.name %></h4>
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', users_path %>
